# My second notebook

Date: 2017-06-01  
Author: ricardo and
Categories: category1, category2  
Tags: tag1, tag2, tag3  
<!--eofm-->

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.random.randn(5, 3), columns=list('ABC'))

In [7]:
df

          A         B         C
0  0.824337 -0.357950 -0.475253
1 -1.462812 -0.035353 -0.405988
2 -1.233471 -0.078324  2.346417
3  0.492085  1.230133 -0.247607
4  1.041033  0.705117  0.747875

Thanks for reading.